body{
    margin: 0;
    background-color: #ddd;
}

img{
    width: 50px;
}

header{
    display: flex; /*alterar o padrão de display block para linha*/
    align-items: center; /*alinhar no centro do cabeçalho*/
    justify-content: space-between;
    padding: 10px 20px; /*tem dois valores, pois o primeiro: cima e embaixo; o segundo: direita e esquerda*/
    background-color: white;
}

nav a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #333;
    padding: 0 5px; /*empurra pra dentro*/
}

.menu-hamburguer{
    display: none;
    width: 30px;  
}

@media(max-width: 700px){
    nav{
        position: absolute; /*sobressai todos os outros elementos estáticos*/
        right: 0;
        top: 70px; /*para aparecer abaixo da navbar, ao invés de sobressair e perder o botão de menu*/
        width: 100%;
        background-color: white;
        text-align: right;
        transform: translateY(-200%);
        transition: 0.2s;
    }

    nav.ativa{
        transform: translateY(0);
    }
    
    nav a{
        display: block;
        padding: 5px 20px;
    }

    .menu-hamburguer{ /*aparece o menu quando chega em 700px*/
        display: block;
    }
}

