body{
    margin: 0;
    background-color: #ddd;
    font-family: Circular, Helvetica, Arial, sans-serif;
    background-image: url("images/background.jpg");
    
}

img{
    width: 150px;
    padding: 0 13px;
}

header{
    display: flex; /*alterar o padrão de display block para linha*/
    align-items: center; /*alinhar no centro do cabeçalho*/
    justify-content: space-between;
    padding: 10px 20px; /*tem dois valores, pois o primeiro: cima e embaixo; o segundo: direita e esquerda*/
    background-color: black;
    opacity: 0.7;
}

nav a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 0 13px; /*empurra pra dentro*/
}

.menu-hamburguer{
    display: none;
    width: 30px;  
}

@media(max-width: 700px){
    nav{
        position: absolute; /*sobressai todos os outros elementos estáticos*/
        right: 0;
        top: 70px; /*para aparecer abaixo da navbar, ao invés de sobressair e perder o botão de menu*/
        width: 100%;
        background-color: black;
        opacity: 0.7;
        text-align: right;
    }
    
    nav.ativa{
        transform: translateY(0);
    }
    
    nav a{
        display: block;
        padding: 5px 20px;
    }
    
    .menu-hamburguer{ /*aparece o menu quando chega em 700px*/
        display: block;
    }
}

